<h3>Thank You!</h3>
<p>You've been Authenticated to use our Scheduler Bot!</p>
<p>Using this App will allow you to:</p>
<ul>
  <li>Set reminders for yourself</li>
  <li>Schedule meetings with others in your slack channel</li>
  <li>Get reminders for your meetings</li>
  <li>Prevent conflicts</li>
  <li>Get meeting invites from others in your slack channel</li>
</ul>


<br />

<span>Click here to authenticate your Google Calendar!</span> <a href={{url}} class="btn btn-primary">Here</a>
